@import '../../../sass/variables';

article {
	margin-top: 3em;

	&:first-child {
		margin-top: 0;
	}
}

.article-title {
	background: $color-fade;
	background: linear-gradient(to right, $color-blossom, $color-bg);
	padding-bottom: 4px;

	h2 {
		background: $color-bg;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.date-posted {
	display: block;
	margin-bottom: 1em;
	width: 100%;
	text-align: right;

	// color: $color-fade;
}