@import "../../../sass/variables";

.name-header {
	font-size: 1.5em;
	font-weight: 700;
	font-family: $font-family-sans-serif;
}

.circle {
	border-radius: 50%;
}

figure {
	margin: 0;

	img {
		height: 128px;
	}
}

nav {
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;


	}

	a {
		color: $color-text;
		text-decoration: none;

		&:hover {
			color: $color-blossom;
			border-bottom: 2px solid $color-blossom;
		}

		&.current {
			border-bottom: 2px solid $color-text;

			&:hover {
				color: $color-text;
				border-bottom: 2px solid $color-text;
			}
		}

	}
}